body {
    font-family: Arial, sans-serif;
}

/* navbar */

.navbar {
    background-color: rgba(237, 150, 208, 0.904);
}

.navbar-brand {
    background-color: white;
    display: inline-block;
    padding: 10px 15px; /* Ajuste conforme necessário */
    border: 1px solid white;
    border-radius: 25px; /* Valor alto para bordas arredondadas */
    color:rgba(237, 150, 208, 0.904) !important; 
    text-decoration: none;
}

.navbar-nav .nav-link {
    color: white !important; /* Cor branca */
}

.navbar-collapse {
    justify-content: center;
}

.sociais {
    display: flex;
    gap: 10px;
    margin-right: 2rem; /* Margem de dois dedos */
}

.sociais a {
    color: white;
    text-decoration: none;
}

.sociais svg {
    width: 20px;
    height: 20px;
}

footer h5{
    text-align: center;
    color:rgba(237, 150, 208, 0.904) ;
}

footer p {
    text-align: justify;
}

footer li{
    text-align: center;
}

footer svg {
    text-align: center;
}

.container h5 {
    color: rgba(237, 150, 208, 0.904);
}

.container {
    padding-left: 2rem;
    padding-right: 2rem;
}


.card h5 {
    color: rgba(237, 150, 208, 0.904);
}

.card-group .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

